* {
  padding: 0;
  margin: 0;
}

body {
  padding: 10%;
}

main {
  display: flex;
  flex-direction: column;
}

.flexItem {
  display: flex;
  gap: 20px;
  padding: 15px;
  border: 0.5px solid #ddd;
}

#clearCompleted {
  text-align: center;
  color: #858585;
  padding: 15px;
  border: 0.5px solid #ddd;
}

#listContainer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
