* {
  padding: 0;
  margin: 0;
}

body {
  padding: 10%;
}

main {
  display: flex;
  flex-direction: column;
}

.flexItem {
  display: flex;
  padding: 15px;
  border: 0.5px solid #ddd;
  justify-content: space-between;
}

#clearCompleted {
  text-align: center;
  color: #858585;
  padding: 15px;
  border: 0.5px solid #ddd;
}

#listContainer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.fa-solid {
  color: black;
}

span {
  display: flex;
  gap: 12px;
  align-content: center;
}
