* {
  padding: 0;
  margin: 0;
}

body {
  padding: 10%;
}

main {
  display: flex;
  flex-direction: column;
}

.flexItem {
  display: flex;
  padding: 15px;
  border: 0.5px solid #ddd;
  justify-content: space-between;
}

#clearCompleted {
  text-align: center;
  color: #858585;
  padding: 15px;
  border: 0.5px solid #ddd;
}

#listContainer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.fa-solid {
  color: black;
}

span {
  display: flex;
  gap: 12px;
  align-content: center;
}

.fa-grip-lines {
  cursor: grab;
}

.fa-grip-lines:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.fa-ellipsis-vertical,
.fa-trash-can,
.fa-pencil {
  cursor: pointer;
  padding-left: 7px;
  padding-right: 7px;
}

#taskInput {
  height: 40px;
  width: 95%;
}

#inputContainer {
  padding: 0;
  align-items: center;
}

.fa-check {
  cursor: pointer;
  padding-left: 2%;
  padding-right: 3%;
}
